openapi: 3.0.3
info:
  title: Allocation API
  description: API for allocation and batch retrieval
  version: 1.0.0
  contact:
    name: Kronen
    email: kronenr@gmail.com
    url: https://github.com/Kronen/cellardoor-allocation/issues
servers:
  - url: http://localhost:8080

tags:
  - name: allocation
    description: Allocation of order lines

paths:
  /allocations:
    post:
      tags:
        - allocation
      summary: Allocate an order
      operationId: allocate
      requestBody:
        description: Order line data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocateRequest'
      responses:
        '200':
          description: Successful allocation
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference:
                    type: string
                    description: The reference of the allocated batch
                    example: batch-123
                required:
                  - reference
        default:
          description: Error occurred - see status code and problem object for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /batches/{batch_reference}:
    get:
      tags:
        - allocation
      summary: Get batch information
      operationId: getBatch
      parameters:
        - name: batch_reference
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful batch retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        default:
          description: Error occurred - see status code and problem object for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /batches:
    post:
      tags:
        - allocation
      summary: Create a batch for allocation
      operationId: createBatch
      requestBody:
        description: The new batch to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBatch'
      responses:
        '201':
          description: Batch created successfully
        default:
          description: Error occurred - see status code and problem object for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    OrderLine:
      type: object
      properties:
        order_id:
          type: string
          example: order123
        sku:
          type: string
          example: SKU-123
        quantity:
          type: integer
          format: int32
          example: 10
      required:
        - order_id
        - sku
        - quantity
    AllocateRequest:
      type: object
      properties:
        order_line:
          $ref: '#/components/schemas/OrderLine'
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          description: |
            A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-9457, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.
          default: about:blank
          example: /some/uri-reference
        title:
          type: string
          description: |
            A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some title for the error situation
        status:
          type: integer
          format: int32
          description: |
            The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
        detail:
          type: string
          description: |
            A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.
          example: some description for the error situation
        instance:
          type: string
          format: uri-reference
          description: |
            A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.
          example: /some/uri-reference#specific-occurrence-context
    NewBatch:
      type: object
      properties:
        reference:
          type: string
          example: batch-123
        sku:
          type: string
          example: SKU-123
        purchased_quantity:
          type: integer
          format: int32
          example: 100
        arrival_at:
          type: string
          format: date-time
          example: '2025-11-15T12:00:00Z'
      required:
        - reference
        - sku
        - purchased-quantity
    Batch:
      allOf:
        - $ref: '#/components/schemas/NewBatch'
        - type: object
          properties:
            allocations:
              type: array
              items:
                $ref: '#/components/schemas/OrderLine'
