name: Cellardoor
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persistent-credentials: false

      - name: Setup Java and Maven
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 25
          maven-version: 3.9.11
          settings-servers: |
            [{
              "id": "github",
              "username": "${{ secrets.GIT_USER_ID }}",
              "password": "${{ secrets.GIT_PERSONAL_ACCESS }}"
            }]
          settings-repositories: |
            [{
              "id": "github",
              "name": "cellardoor-bom-repo",
              "url": "https://maven.pkg.github.com/Kronen/cellardoor-bom",
              "snapshots": { "enabled": true }
            }]

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build project
        run: mvn -B --update-snapshots -Punix verify
